<h3>ジャンル</h3>
<P>ケーキ</P>
<P>焼き菓子</P>
<P>プリン</P>
<P>キャンディ</P>

<% @items.each do |item| %>
<div>
  <h1>商品一覧</h1>
  <%= attachment_image_tag image, :image %>
  <p>商品画像：<%= image_tag('sample-author1.jpg') %></p>
  <p>商品名：<%= item.name %></p>
  <p>¥：<%= item.price %></p>
</div>
<% end %>